<style>
      .banner-image {
        background-image: url('https://images.pexels.com/photos/6335/man-coffee-cup-pen.jpg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260');
        background-size: cover;
      }
    </style>

<div class="container">
  <div class="form-row">
    <div class="col-xs-2 mx-auto">
      <br><br>

            <h1 class="text-center">Mon Profil</h1>

            <div class="dropdownprofil">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Autres
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="#">Mes commandes</a>
    <a class="dropdown-item" href="#">Mes Assurances</a>
    <a class="dropdown-item" href="#">Mes infos de paiement</a>
  </div>
</div>

  <br>



          <div class="profil">

            <br>

                <p><strong class="soul">Rôle :  </strong><%= @user.role %></p>

                <p><strong class="soul">Homme / Femme :  </strong><%= @user.h_f %></p>

                <p><strong class="soul">Nom :  </strong><%= @user.nom %></p>

                <p><strong class="soul">Prénom : </strong><%= @user.prenom %></p>

                <p><strong class="soul">Téléphone : </strong><%= @user.numero_de_telephone %></p>

                <p><strong class="soul">Adresse Postal : </strong><%= @user.adresse_postale %></p>

                <p><strong class="soul">Adresse Email :  </strong><%= @user.email %></p>

                <div style="width: 18rem; text-center">
              <%= cl_image_tag @user.avatar, :width => 282, :crop => "pad" %>

              </div>
            </div>
              </div>
        </div>
      <br>
    </div>
