<nav style="font-family: 'Roboto', sans-serif;" class="navbar navbar-expand-lg navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li>
        <a style="color: white;", class="nav-link" href="/">Home</a>
      </li>
      <li>
        <a style="color: white;", class="nav-link" href="qui_sommes_nous">Qui Sommes Nous</a>
      </li>
      <li>
        <a style="color: white;", class="nav-link" href="acheter_une_voiture">Acheter une voiture</a>
      </li>
      <li>
        <a style="color: white;", class="nav-link" href="louer_une_voiture">Louer une voiture</a>
      </li>
       <li>
        <a style="color: white;", class="nav-link" href="vendre_une_voiture">Vendre une voiture</a>
      </li>
      <li class="nav-item dropdown">
        <a style="color: white;", class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Nos Modèles
        </a>
        <div class="dropdown-menu drop-center" aria-labelledby="navbarDropdown">
          <a class="dropdown-item drop-center" href="ferrari">Ferrari <%= image_tag 'logo/ferrari.png', class: "logo-dropdown" %></a>
          <a class="dropdown-item drop-center" href="lamborghini">Lamborghini <%= image_tag 'logo/lamborghini.png', class: "logo-dropdown" %></a>
          <a class="dropdown-item drop-center" href="#">Mercedes <%= image_tag 'logo/mercedes.png', class: "logo-dropdown" %></a>
          <a class="dropdown-item drop-center" href="#">Porshe <%= image_tag 'logo/porsche.png', class: "logo-dropdown" %></a>
          <a class="dropdown-item drop-center" href="#">Audi <%= image_tag 'logo/audi.png', class: "logo-dropdown" %></a>
          <a class="dropdown-item drop-center" href="#">Maserati <%= image_tag 'logo/maserati.png', class: "logo-dropdown" %></a>
          <a class="dropdown-item drop-center" href="#">Bugati <%= image_tag 'logo/bugatti.png', class: "logo-dropdown" %></a>
          <a class="dropdown-item drop-center" href="#">BMW <%= image_tag 'logo/bmw.png', class: "logo-dropdown" %></a>
        </div>
      </li>
       <% if user_signed_in? && current_user.role === 'admin' %>
      <li>
        <a style="color: red" class="nav-link" href="locations_achats">Gestion des Voitures</a>
      </li>
      <li>
        <a style="color: red" class="nav-link" href="catalog">Catalogue</a>
      </li>
      <% end %>
    </ul>

    <div class="navbar-right">
     <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <li class="nav-item dropdown drop-center">

          <%= image_tag "https://img2.freepng.fr/20180319/aeq/kisspng-computer-icons-google-account-user-profile-iconfin-png-icons-download-profile-5ab0301e0d78f3.2971990915214960940552.jpg", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>


          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "Mon compte", "mon_comptes", class: "dropdown-item" %>
            <%= link_to "Mes informations", "#", class: "dropdown-item" %>
             <%= link_to "Mon panier", "carts", class: "dropdown-item" %>

            <%= link_to "Se déconnecter", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
          <% end %>
          <button style="background: transparent;
    border: none; !important" onclick="myFunction()">🌗</button>
    <script>
      function myFunction() {
        var element = document.body;
        element.classList.toggle("dark-mode");
      }
    </script>
    <% if user_signed_in? %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
  </div>
  </div>
</nav>