<style>
.banner-image {
  background-image: url('https://res.cloudinary.com/luxuary-cars/image/upload/v1624279321/pexels-david-mcbee-395537_wanwwj.jpg');
  background-size: cover;
}
</style>

<div class="container">
  <div class="row">
    <div class="col-sm">
      <br>
      <ul class="grid2">

        <% @products.each do |product| %>



        <div class="card" style="width: 18rem;">
          <%= cl_image_tag product.photo_voiture, :width => 282, :crop => "pad" %>
          <div class="card-body">

            <p><strong>Modèle voiture: </strong><%= product.title %></p>
            <p><%= product.loc_achat %></p>
            <p><%= product.title %></p>
            <p><%= number_to_currency product.price, unit: "€", separator: ",", format: "%n%u" %></p>
            <p><%= product.puissance %> Cv</p>
            <p><%= product.vitesse_max %> Km/h</p>
            <p><%= product.Acceleration %> s</p>
            <p><%= product.description %></p>

            <p class= "text-center"><%= button_to "Ajouter au panier", line_items_path(product_id: product), class: "btn btn-primary" %>

            </p>


          </div>
        </div>
        <% end %>
      </ul>
    </div>
  </div>
</div>
</div>
</div>
</div>
