<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images4.alphacoders.com/291/291146.jpg);">
  <div class="container">
    <h1>Luxuary_Cars !</h1>
    <p>Succomber à vos envies en achetant ou en louant une Ferrari ! </p>
    <a class="btn btn-flat color" href="louer_une_voiture">Louez</a> <a class="btn btn-flat color" href="acheter_une_voiture">Achetez</a>
  </div>
</div>

<br>

<div class="container">
          <div class="row">
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
               <%= image_tag 'voitures/ferrari-488.png', class:"photo2" %>
                <div class="card-body">
                  <p class="card-text nom_voiture">Ferrari 488</p>
                  <p>Vitesse maximale : 340 km/h</p>
                   <p> Accélération 0-100 km/h : 3 secondes</p>
                    <p> Puissance : 530 kW </p>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <%= image_tag 'voitures/ferrari-812-gts.png', class:"photo2" %>
                <div class="card-body">
                  <p class="card-text nom_voiture">Ferrari 812 GTS</p>
                  <p>
                    Vitesse maximale : 340 km/h</p>
                   <p> Accélération 0-100 km/h : 3 secondes</p>
                   <p> Puissance : 588 kW</p>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <%= image_tag 'voitures/ferrari-812.png', class:"photo2" %>
                <div class="card-body">
                  <p class="card-text nom_voiture">Ferrari 812</p>
                  <p>Vitesse maximale : 340 km/h</p>
                   <p> Accélération 0-100 km/h : 2.9 secondes</p>
                   <p> Puissance : 588 kW</p>
                  </p>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <%= image_tag 'voitures/ferrari-F8-spider', class:"photo2" %>
                <div class="card-body">
                  <p class="card-text nom_voiture">Ferrari F8 Spider</p>
                  <p>Vitesse maximale : 340 km/h</p>
                    <p> Accélération 0-100 km/h : 2.9 secondes</p>
                    <p> Puissance : 530 kW</p>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <%= image_tag 'voitures/ferrari-F8-tributo', class:"photo2" %>
                <div class="card-body">
                  <p class="card-text nom_voiture">Ferrari F8 Tributo</p>
                  <p>Vitesse maximum : 340 km/h</p>
                     <p>Accéleration 0-100 km/h : 2.9 sec</p>
                     <p>Puissance : 720 kW</p>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <%= image_tag 'voitures/ferrari-roma', class:"photo2" %>
                <div class="card-body">
                  <p class="card-text nom_voiture">Ferrari Roma</p>
                  <p>Vitesse maximale : 320 km/h</p>
                    <p> Accéleration 0-100 km/h : 3.4 sec</p>
                     <p> Puissance : 456 kW </p>
                     </p>
                </div>
              </div>
            </div>
          </div>
            </div>
