<style>
      .banner-image {
        background-image: url('https://images.pexels.com/photos/120049/pexels-photo-120049.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
        background-size: cover;
      }
    </style>

<div class="container marketing">
  <!-- Three columns of text below the carousel -->
  <div class="row">

    <div class="col-lg-4">
      <br>

      <h1 class="text-center">Louez <%= image_tag 'calendrier.png', class:"logohome", alt:"" %> </h1>
      <p class="pblanc">Vous pouvez annuler ou modifier la plupart des réservations gratuitement jusqu’à 48 heures avant la prise en charge du véhicule.</p>
      <p><a class="btn1 btn-secondary" href="#" role="button">Pour plus de détails &raquo;</a></p>
    </div><!-- /.col-lg-4 -->

    <div class="col-lg-4">
      <br>
      <h1 class="text-center">Achetez <%= image_tag 'cle.png', class:"logohome", alt:"" %> </h1>
      <p class="pblanc"> Ferrari, Lamborghini, Maserati ? Nos stocks sont à la hauteur de vos envies. Du V8 au V12 nous avons tout pour vous faire vibrer !</p>
      <p><a class="btn1 btn-secondary" href="#" role="button">Pour plus de détails &raquo;</a></p>
    </div><!-- /.col-lg-4 -->

    <div class="col-lg-4">
      <br>
      <h1 class="text-center">Vendez <%= image_tag 'sale.png', class:"logohome", alt:"" %> </h1>
      <p class="pblanc">Vendez votre voiture au meilleur prix avec Luxuary_Cars. Nos experts en déterminerons le meilleur prix.</p>
      <p><a class="btn1 btn-secondary" href="#" role="button">Pour plus de détails &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
  </div><!-- /.row -->


  <!-- START THE FEATURETTES -->

  <hr class="featurette-divider barre">

  <div class="row featurette">
    <div class="col-md-7">
      <br>
      <h4 class="featurette-heading">De tout temps et pour toujours, Ferrari c'est quatre roues et deux portes seulement.</h4>
      <br>
      <p class="lead pblanc">Ces lignes vous ont toujours fait rêver, aujourd'hui est à votre porté. A l'achat ou en l'occasion vous trouverez nos Ferrari prêtes à vous faire vibrer sur les routes</p>
    </div>
    <div class="col-md-5">
      <%= image_tag 'ferrari.png', class:"photo" %>
    </div>
  </div>

  <hr class="featurette-divider barre">

  <div class="row featurette">
    <div class="col-md-6 order-md-3">
      <br>
      <h4 class="featurette-heading text">Ce n'est pas simplement une nouvelle Lamborghini, c'est un nouveau monde.</h4>
      <p class="lead text pblanc">Basse et majestueuse, les Lamborghinis vous attendent dans notre Garage ! Faites trembler les routes avec ces machines surpuissantes !</p>
    </div>
    <div class="col-md-5 order-md-1">
      <%= image_tag 'lamborghini.png', class:"photo" %>
    </div>
  </div>

  <hr class="featurette-divider barre">

  <div class="row featurette">
    <div class="col-md-7">
      <br><br>            <h4 class="featurette-heading">L'Excellence par le biais de la passion.</h4>
      <br>
      <p class="lead pblanc">La classe à l'état de métal, pour votre mariage ou pour vos vancances. Louez nos Maserati au meilleur prix.</p>
    </div>
    <div class="col-md-5">
      <%= image_tag 'maserati.png', class:"photo" %>
    </div>
  </div>
  <br>



</div>
