<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://hdfondsdecran.com/image/201609/2436/grid-autosport-voiture-sportive-de-prestige-vue-den-haut.jpg);">
  <div class="container">
    <h1>Luxuary_Cars !</h1>
    <p>Changez de vie à n'importe quel moment dans nos sublimes sportives !</p>
    <a class="btn btn-flat color" href="users/sign_in">Rejoingnez nous</a>
  </div>
</div>

      <div class="container marketing">
        <!-- Three columns of text below the carousel -->
        <div class="row">

          <div class="col-lg-4">
            <br>

            <h2 class="text-center">Louez <%= image_tag 'calendrier.png', class:"", alt:"" %> </h2>
            <p>Vous pouvez annuler ou modifier la plupart des réservations gratuitement jusqu’à 48 heures avant la prise en charge du véhicule.</p>
            <p><a class="btn1 btn-secondary" href="#" role="button">Pour plus de détails &raquo;</a></p>
          </div><!-- /.col-lg-4 -->

          <div class="col-lg-4">
            <br>
            <h2 class="text-center">Achetez <%= image_tag 'cle.png', class:"", alt:"" %> </h2>
            <p>Ferrari, Lamborghini, Maserati ? Nos stocks sont à la hauteur de vos envies. Du V8 au V12 nous avons tout pour vous faire vibrer !</p>
            <p><a class="btn1 btn-secondary" href="#" role="button">Pour plus de détails &raquo;</a></p>
          </div><!-- /.col-lg-4 -->

          <div class="col-lg-4">
            <br>
            <h2 class="text-center">Vendez <%= image_tag 'sale.png', class:"", alt:"" %> </h2>
            <p>Vendez votre voiture au meilleur prix avec Luxuary_Cars. Nos experts en déterminerons le meilleur prix.</p>
            <p><a class="btn1 btn-secondary" href="#" role="button">Pour plus de détails &raquo;</a></p>
          </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->


        <!-- START THE FEATURETTES -->

        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading">De tout temps et pour toujours, Ferrari c'est quatre roues et deux portes seulement.</h2>
            <p class="lead">Ces lignes vous ont toujours fait rêver, aujourd'hui est à votre porté. A l'achat ou en l'occasion vous trouverez nos Ferrari prêtes à vous faire vibrer sur les routes</p>
          </div>
          <div class="col-md-5">
            <%= image_tag 'ferrari.png', class:"photo" %>
          </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-6 order-md-3">
            <h2 class="featurette-heading text">Ce n'est pas simplement une nouvelle Lamborghini, c'est un nouveau monde.</h2>
            <p class="lead text">Basse et majestueuse, les Lamborghinis vous attendent dans notre Garage ! Faites trembler les routes avec ces machines surpuissantes !</p>
          </div>
          <div class="col-md-5 order-md-1">
            <%= image_tag 'lamborghini.png', class:"photo" %>
          </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading">L'Excellence par le biais de la passion.</h2>
            <p class="lead">La classe à l'état de métal, pour votre mariage ou pour vos vancances. Louez nos Maserati au meilleur prix.</p>
          </div>
          <div class="col-md-5">
            <%= image_tag 'maserati.png', class:"photo" %>
          </div>
        </div>
        <br>
        <hr>



</div>
