<style>
      .banner-image {
        background-image: url('https://images.pexels.com/photos/4984313/pexels-photo-4984313.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
        background-size: cover;
      }
    </style>

<br>

<div class="container">
          <div class="row">
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
               <%= image_tag 'voitures/aventador.png', class:"photo2" %>
                <div class="card-body">
                  <p class="card-text nom_voiture">Lamborghini Aventador</p>
                  <p>Vitesse maximale : 340 km/h
                    Accélération 0-100 km/h : 3 secondes
                     Puissance : 530 kW
                  </p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                    </div>
                    <small class="text-muted"></small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <%= image_tag 'voitures/centenario.png', class:"photo2" %>
                <div class="card-body">
                  <p class="card-text nom_voiture">Lamborghini Centenario</p>
                  <p>
                    Vitesse maximale : 340 km/h
                    Accélération 0-100 km/h : 3 secondes
                    Puissance : 588 kW
                  </p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                    </div>
                    <small class="text-muted"></small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <%= image_tag 'voitures/huracan.png', class:"photo2" %>
                <div class="card-body">
                  <p class="card-text nom_voiture">Lamborghini Huracan</p>
                  <p>Vitesse maximale : 340 km/h
                    Accélération 0-100 km/h : 2.9 secondes
                    Puissance : 588 kW
                  </p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                    </div>
                    <small class="text-muted"></small>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <%= image_tag 'voitures/sian.png', class:"photo2" %>
                <div class="card-body">
                  <p class="card-text nom_voiture">Lamborghini Sian</p>
                  <p>Vitesse maximale : 340 km/h
                     Accélération 0-100 km/h : 2.9 secondes
                     Puissance : 530 kW
                  </p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                    </div>
                    <small class="text-muted"></small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <%= image_tag 'voitures/urus.png', class:"photo2" %>
                <div class="card-body">
                  <p class="card-text nom_voiture">Lamborghini Urus</p>
                  <p>Vitesse maximum : 340 km/h
                     Accéleration 0-100 km/h : 2.9 sec
                     Puissance : 720 kW
                  </p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                    </div>
                    <small class="text-muted"></small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <%= image_tag 'voitures/veneno.png', class:"photo2" %>
                <div class="card-body">
                  <p class="card-text nom_voiture">Lamborghini Veneno</p>
                  <p>Vitesse maximale : 320 km/h
                     Accéleration 0-100 km/h : 3.4 sec
                     Puissance : 456 kW
                     </p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                    </div>
                    <small class="text-muted"></small>
                  </div>
                </div>
              </div>
            </div>
          </div>
            </div>
          </div>
