<style>
      .banner-image {
        background-image: url('https://images.pexels.com/photos/1253049/pexels-photo-1253049.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
        background-size: cover;
      }
    </style>

<br>

<!-- ======= Team Section ======= -->
    <section id="team" class="team">
      <div class="container">

        <div class="section-title" data-aos="fade-in" data-aos-delay="100">
          <h1 style="text-decoration: underline" class="text-center">Notre équipe</h1>
        </div>

        <br>

        <div class="row">

          <div class="col-lg-4 col-md-6">
            <div class="member" data-aos="fade-up">
              <%= image_tag 'team/team-1.png', class:"img-fluid", alt:"" %>
              <div class="member-info">
                <h4 class="text-center">Sylvia Morena</h4>
                <p class="text-center"><span>Fondatrice</span></p>
                <p>C'est avec son père que la passion des voitures arriva et depuis elles n'ont plus de secret pour elle.</p>
                <div class="social">
                  <a href=""><i class="icofont-twitter"></i></a>
                  <a href=""><i class="icofont-facebook"></i></a>
                  <a href=""><i class="icofont-instagram"></i></a>
                  <a href=""><i class="icofont-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6">
            <div class="member" data-aos="fade-up" data-aos-delay="150">
              <%= image_tag 'team/team-2.png', class:"img-fluid", alt:"" %>
              <div class="member-info">
                <h4 class="text-center">Sarah Jhonson</h4>
                <p class="text-center"><span>Chef de projet</span></p>
                <p>Talentueuse et fraîchement diplomé, Sarah est l'une des pièces maitresse de l'entreprise. Jeune et au service de ses clients elle vous aidera à toucher votre rêve du bout des doigts.</p>
                <div class="social">
                  <a href=""><i class="icofont-twitter"></i></a>
                  <a href=""><i class="icofont-facebook"></i></a>
                  <a href=""><i class="icofont-instagram"></i></a>
                  <a href=""><i class="icofont-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6">
            <div class="member" data-aos="fade-up" data-aos-delay="300">
               <%= image_tag 'team/team-3.png', class:"img-fluid", alt:"" %>
              <div class="member-info">
                <h4 class="text-center">William Anderson</h4>
                <p class="text-center"><span>Mécanicien</span></p>
                <p>William, meilleur mécanicien de France. Les supers Cars n'ont pas de secret pour lui.</p>
                <div class="social">
                  <a href=""><i class="icofont-twitter"></i></a>
                  <a href=""><i class="icofont-facebook"></i></a>
                  <a href=""><i class="icofont-instagram"></i></a>
                  <a href=""><i class="icofont-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Team Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact section-bg">
      <div class="container">

        <div class="section-title" data-aos="fade-in" data-aos-delay="100">
          <h1 class="text-center">Contact</h1>
          <p class="text-center pblanc">Pour toute questions ou demande de devis. Merci de nous contacter aux coordonnées ci dessous ! 🏎</p>
        </div>

        <br>

        <div class="row" data-aos="fade-up" data-aos-delay="100">
          <div class="col-lg-6">
            <div class="info-box mb-4">

              <h3>Notre Adresse</h3>
              <p>33 Rue de la Cathédrale, 80000 Amiens</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="info-box  mb-4">

              <h3>Email</h3>
              <p>lesage1510@gmail.com</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="info-box  mb-4">
              <h3>Appelez nous</h3>
              <p>0786891660</p>
            </div>
          </div>

        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="200">

          <div class="col-lg-6 ">
            <iframe src="https://www.google.com/maps/embed?pb=!4v1623923929118!6m8!1m7!1sOgl15krgQH67CHQq8pATKw!2m2!1d49.89517335086434!2d2.301161361664988!3f160.0647291982388!4f27.49325936130586!5f0.7820865974627469" width="540" height="380" style="border:0;" allowfullscreen="" loading="lazy"></iframe>


          </div>

          <div class="col-lg-6">
          <%= form_with(model: @contacts, local: true, url:contacts_path) do |f| %>
              <div class="form-row">
                <div class="col-md-6 form-group">
                  <%= f.label :name, "Nom" %>
                  <%= f.text_field :name %>
                  <%= f.label :email, "adresse mail" %>
                  <%= f.email_field :email, autocomplete: "email" %>
                <%= f.label :content, "Dites nous tout" %>
                <%= f.text_field :content %>

              <div class="text-center"><%= f.submit "Envoyer !" %></div>

          <% end %>

    </section><!-- End Contact Section -->
