<style>
      .banner-image {
        background-image: url('https://images.pexels.com/photos/34577/pexels-photo.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
        background-size: cover;
      }
    </style>

<div class="container">
  <div class="row">
    <div class="col-xs mx-auto">
      <br>

      <h2 class="titrepanier">Mon panier</h2>

      <br>

        <% @cart.line_items.each do |item| %>
        <%= item.product.title %> (x <%= item.quantity %>) <span class="badge badge-info"><%= number_to_currency(item.total, unit: "€", separator: ",", format: "%n %u") %></span>
          <% end %>


        <p class="font-weight-bold">Total : <span class="badge badge-info"><%= number_to_currency(@cart.total, unit: "€", separator: ",", format: "%n %u") %></span></p>



          <p><span class="text-align"><%= link_to "Retour aux produits", acheter_une_voiture_path, class: "btn btn-primary" %></span></p>

         <p><%= button_to "Vider le panier", @cart, method: :delete, data: {
            confirm: "Êtes-vous sûr ?" }, class: "btn btn-danger" %></p>

          </div>
        </div>

</div>
<br>
</div>
