<p id="notice"><%= notice %></p>

<h1>Locations Achats</h1>

<table>
  <thead>
    <tr>
      <th>Nom voiture</th>
      <th>Vitesse max</th>
      <th>Acceleration</th>
      <th>Puissance</th>
      <th>Prix</th>
      <th>Photo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @locations_achats.each do |locations_achat| %>
      <tr>
        <td><%= locations_achat.nom_voiture %></td>
        <td><%= locations_achat.vitesse_max %></td>
        <td><%= locations_achat.acceleration %></td>
        <td><%= locations_achat.puissance %></td>
        <td><%= locations_achat.prix %></td>
        <td><%= locations_achat.photo %></td>
        <td><%= link_to 'Show', locations_achat %></td>
        <td><%= link_to 'Edit', edit_locations_achat_path(locations_achat) %></td>
        <td><%= link_to 'Destroy', locations_achat, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Locations Achat', new_locations_achat_path %>
