<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.pexels.com/photos/1148820/pexels-photo-1148820.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);">
  <div class="container">
    <h1>Gestion des voitures Locations/Achats</h1>
     <div class='btn btn-flat'>
        <%= link_to new_locations_achat_path do %>
        +🏎
        <% end %>
      </div>

  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm">
      <br>
       <ul class="grid2">

          <% @locations_achats.each do |locations_achat| %>

            <div class="card" style="width: 18rem;">
              <%= cl_image_tag locations_achat.photo, :width => 285, :crop => "pad" %>
              <div class="card-body">

                <p><strong>Modèle voiture: </strong><%= locations_achat.nom_voiture%></p>

                <p><strong>Vitesse Maximum: </strong><%= locations_achat.vitesse_max%></p>

                <p><strong>Acceleration: </strong><%= locations_achat.acceleration%></p>

                <p><strong>Puissance du véhicule: </strong><%= locations_achat.puissance%></p>

                <p><strong>Prix du véhicule: </strong><%= locations_achat.prix%></p>
              </div>
              <hr>
              <div class="notification-actions text-center">
                <%= link_to edit_locations_achat_path(locations_achat) do %>
                Editer <i class="fas fa-pencil-alt"></i>
                <% end %>
                <%= link_to locations_achat_path(locations_achat), method: :delete, data: {confirm: 'Êtes vous sûrs de vouloir supprimer ?' } do %>
                Supprimer <i class="far fa-trash-alt"></i>
                <% end %>
              </div>
          </div>
          <% end %>
        </ul>
    </div>
  </div>
</div>


