<style>
      .banner-image {
        background-image: url('https://images.pexels.com/photos/7070/space-desk-workspace-coworking.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
        background-size: cover;
      }
    </style>

<div class="container">
  <div class="row">
    <div class="col-sm">
<p id="notice"><%= notice %></p>

<h1 style="text-align: center;">Véhicules Disponible</h1>

<br>

<table class="table table-strieped table-dark">
  <thead>
    <tr>
      <th> Achat ou Location </th>
      <th>Modèle du véhicule</th>
      <th>Prix Véhicule</th>
      <th>Puissance de la voiture</th>
      <th>Vitesse Max de la voiture</th>
      <th>0 à 100 Km</th>
      <th>Description</th>
      <th>Photo du véhicule</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.loc_achat %></td>
        <td><%= product.title %></td>
        <td><%= number_to_currency product.price, unit: "€", separator: ",", format: "%n%u" %></td>
        <td><%= product.puissance %> Cv</td>
        <td><%= product.vitesse_max %> Km/h</td>
        <td><%= product.Acceleration %> s</td>
        <td><%= product.description %></td>
        <td><%= cl_image_tag product.photo_voiture, width: "100" %></td>
        <td><%= link_to 'Show', product, class: "btn btn-primary" %></td>
        <td><%= link_to 'Edit', edit_product_path(product), class: "btn btn-secondary"  %></td>
        <td><%= link_to 'Destroy', product, class: "btn btn-danger",  method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>
</div>
<br>

<div class="text-center">
<%= link_to 'Nouveau produit', new_product_path %>
</div>

<br>
